
.tippy-top-bar{
    background-color: black;
    color: black;
    padding-bottom: 1px;
}
.top-bar{
    background-color: red;
    color: black;
    padding-bottom: 1px;
   
}
.title{
    color: white;
}

.nav-buttons{
    align-content: center;    
}

.nav-buttons ul{
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
}

.nav-buttons li{
    margin: 15px
}
.nav-buttons button{
    border-radius: 10px ;
    background-color: white;
    color: black;
}

.picture{
    text-align: center;
    padding: 5px;
    background-image: url(redblack1.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;    

}
.picture img{
    height: 400px;
    width: 400px;   
    border-radius: 50%;
}
.contact{
    text-align: center;
    background-color: red;
    color: black;
}

.email h2{
    color: white;
}

.github-pic a {
    font-size: 100px;
    color: white;
   
}
.github-pic a:hover{
    color: black;
    transform: scale(5);
}

.about{
    color: black;
}

.projects-header{
    color: white;
    background-color: black;
    padding-bottom: 5px;
}


.project{
    /*margin: 2px;*/
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;

}

.project a{
    text-decoration: none;
    color: black;

}

.project:hover{
    background-color: red;
}

.project a:hover{
    color: white;
}
.very-bottom-bar{
    background-color: black;
    color: black;
    padding-bottom: 1px;

}

@media(max-width: 400px){
    .picture img{
        height: 300px;
        width: 300px;   
        border-radius: 50%;    
    }
    .email h2{
        font-size: large;
    }
}